#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    visibility: hidden;
}

#vidtext1 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 33%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
    align: "center";
    visibility: hidden;
}
#vidtext2 {
    color: white;
    font-size: 40px;
    padding-top: 2.2em;
    position: absolute;
    top:53%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
    align: "center";
    visibility: hidden;
}

#vidtext3 {
    color: white;
    font-size: 25px;
    /*padding-top: 6.3em;*/
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
    align: "center";
    visibility: hidden;
}

/*#vidtext4 {
    color: white;
    font-size: 40px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 80%;
    align: "center";
    visibility: hidden;
}*/